[submodule "cantanker-shield"]
	path = cantanker-shield
  url = git@github.com:jacobghunter/cantanker-shield.git
  branch = main
[submodule "zmk-driver-azoteq-iqs5xx"]
	path = zmk-driver-azoteq-iqs5xx
  url = git@github.com:jacobghunter/zmk-driver-azoteq-iqs5xx.git
  branch = main
[submodule "zmk-input-gestures"]
	path = zmk-input-gestures
	url = git@github.com:jacobghunter/zmk-input-gestures.git
